/* Start Global Variables */
:root {
  --main-color: #ffffff1a;
  --section-padding: 70px;
  --green-color: #309d22e8;
}

/* End Global Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  color: green;
  background-color: #eee;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (min-width: 576px) {

  /*Small Devices => Landscape Phones*/
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  /*Medium Devices => Tablets*/
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  /*Desktops*/
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  /*Large Screens*/
  .container {
    max-width: 1140px;
  }
}

/* End Global Rules */
/* Start Components */
.heading {
  font-size: 50px;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  color: #1b3c20;
  margin-bottom: 80px;
}

@media (max-width: 575px) {
  .heading {
    font-size: 40px;
  }
}

.heading span {
  color: var(--green-color);
}

/* End Components */

/* Start Settings Menu */
.settings-menu {
  position: fixed;
  top: 50%;
  left: -200px;
  transform: translateY(-50%);
  width: 200px;
  z-index: 100;
  background-color: var(--main-color);
  border: 1px solid #a7a6a6;
  border-radius: 30px 3px 30px 3px;
  transition: 0.5s;
}

.settings-menu.active {
  left: 0;
}

.settings-menu .toggle-icon {
  position: absolute;
  right: -36px;
  top: 25%;
  background-color: var(--main-color);
  padding: 10px;
  border: 1px solid #a7a6a6;
  border-left: none;
  border-radius: 8px 4px 15px 1px;
  text-align: center;
  cursor: pointer;
}

.settings-menu .toggle-icon i {
  color: var(--green-color);
}

.settings-menu .options .option-box {
  background-color: #eee;
  padding: 10px;
  border-radius: 30px 3px 30px 3px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.settings-menu .options .option-box h4 {
  text-align: center;
  font-size: 18px;
  color: rgb(89 125 49);
  margin: 10px auto;
  font-weight: normal;
}

.settings-menu .options .option-box .colors-list {
  list-style: none;
}

.settings-menu .options .option-box .colors-list li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #8e9b8e;
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}

.settings-menu .options .option-box .colors-list li:first-of-type {
  background-color: #bfbc3480;
  margin-right: 15px;
}

.settings-menu .options .option-box .colors-list li:last-of-type {
  background-color: #ffffff1a;
}

.settings-menu .options .option-box .colors-list li.active {
  opacity: 1;
  box-shadow: 0px 0px 3px #8e9b8e;
}

.settings-menu .options .option-box button {
  background-color: #eee;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  cursor: pointer;
  color: #4caf50;
  font-size: 14px;
  opacity: 0.5;
}

.settings-menu .options .option-box button.yes {
  margin-right: 15px;
}

.settings-menu .options .option-box button.active {
  opacity: 1;
  background-color: #4caf50;
  color: white;
}

.settings-menu .options button.option-box {
  display: block;
  border: 1px solid #fff;
  background-color: #eee;
  color: green;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

.settings-menu .options button.option-box:hover {
  background-color: rgb(151, 23, 23);
  color: white;
}

/* End Settings Menu */

/* Start Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1px;
  z-index: 10;
  background-color: var(--main-color);
  border-bottom: 0.5px solid var(--main-color);
  border-radius: 30px 3px 30px 3px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  width: 60px;
}

header nav {
  display: flex;
  align-items: center;
  position: relative;
}

header nav .links {
  text-align: right;
  list-style: none;
}

header nav .links li {
  display: inline-block;
  margin-left: 20px;
}

header nav .links li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: color 0.5s, padding 0.5s;
  position: relative;
  width: fit-content;
}

header nav .links li a:hover {
  border: 1px solid var(--green-color);
  background-color: var(--green-color);
  border-radius: 30px 3px 30px 3px;
  padding: 5px;
}

header nav .burger-icon {
  display: none;
  width: 35px;
  background: none;
  border-color: transparent;
  cursor: pointer;
}

header nav .burger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  header nav .burger-icon {
    display: block;
    position: relative;
  }

  header nav .burger-icon::before {
    content: "";
    border-width: 10px;
    border-color: transparent transparent var(--main-color) transparent;
    border-style: solid;
    position: absolute;
    bottom: -15px;
    left: 5px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
  }

  header nav .links {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    width: 300px;
    background-color: var(--main-color);
    text-align: left;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
  }

  header nav .links.active,
  header nav .burger-icon.active::before {
    visibility: visible;
    opacity: 1;
  }

  header nav .links li {
    display: block;
    margin-left: 0;
    padding: 15px;
  }

  header nav .links li:not(:last-child) {
    border-bottom: 1px solid rgb(184, 178, 178);
  }

  header nav .links li a:hover {
    width: fit-content;
  }
}

@media (max-width: 575px) {
  header nav .links {
    text-align: center;
  }

  header nav .links li a:hover {
    margin: auto;
    border-color: #3ac728;
  }
}

/* End Header */

/* Start Leaves */
.leaves {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 1000;
}

.leaves .leaf {
  width: 20px;
  height: 20px;
  border-radius: 12px 1px 12px 1px;
  border: 2px solid var(--green-color);
  margin-top: 10px;
  margin-bottom: 40px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}

.leaves .leaf::before {
  content: attr(data-title);
  background-color: var(--green-color);
  padding: 10px;
  position: absolute;
  top: 10px;
  left: -100px;
  color: #fff;
  z-index: 2000;
  text-align: center;
  font-size: 18px;
  border-radius: 30px 2px 30px 2px;
  width: 80px;
  display: none;
}

.leaves .leaf:hover {
  background-color: var(--green-color);
}

.leaves .leaf:hover::before {
  display: block;
}

.leaves.hide {
  display: none;
}

.settings-menu .options .option-box button.active {
  opacity: 1;
  background-color: #4caf50;
  color: white;
}

/* End Leaves */

/* Start Landing */
.landing {
  background-image: url(../imgs/landing2.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  transition: .8s;
}

.landing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0000003b;
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 800px;
  max-width: 95%;
  z-index: 2;
}

.landing .intro-text h1 {
  margin: 0;
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Combo", cursive;
}

.landing .intro-text h1 span {
  color: var(--green-color);
}

.landing .intro-text p {
  line-height: 1.6;
  font-size: 25px;
  color: #ddd;
}

/* End Landing */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.about::after {
  content: url(../imgs/leaves2.png);
  position: absolute;
  top: -220px;
  right: 0px;
  opacity: 0.7;
  z-index: -1;
}

@media (max-width: 767px) {
  .about::after {
    display: none;
  }
}

.about .container {
  position: relative;
}

.about .container>p {
  position: absolute;
  width: 20%;
  line-height: 1.5;
  font-size: 17px;
  color: #868d87;
  z-index: 2;
}

.about .container>p:first-of-type {
  left: 0;
  top: 28%;
}

.about .container>p:nth-of-type(2) {
  right: 0;
  top: 19%;
}

@media (max-width: 991px) {
  .about .container>p {
    position: static;
    width: 100%;
    text-align: center;
  }

  .about .container>p:first-of-type {
    margin-bottom: 30px;
  }

  .about .container>p:nth-of-type(2) {
    margin-bottom: 80px;
  }
}

.about p span {
  font-size: 30px;
  font-weight: bold;
  color: #1b3c20;
  font-family: cursive;
}

.about .image {
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.about .image>img {
  max-width: 100%;
}

.about .image .real-image {
  background-color: var(--main-color);
  width: 40%;
  position: absolute;
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  border: 0.5px solid rgb(214, 214, 214);
  border-radius: 29px 0px 29px 0;
}

@media (max-width: 991px) {
  .about .image>img {
    display: none;
  }

  .about .image .real-image {
    background-color: var(--main-color);
    width: 100%;
    position: static;
    top: 0px;
    transform: translateX(0);
    margin: auto;
  }
}

.about .image .real-image h4 {
  color: rgb(57 84 58 / 92%);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: cursive;
}

.about .image .real-image img {
  max-width: 98%;
}

.about .image .real-image a {
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

@media (max-width: 991px) {
  .about .image .real-image a {
    color: #585858;
  }
}

/* End About */
/* Start Contribution */
.contribution {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.contribution::before {
  content: url(../imgs/leaves1.png);
  position: absolute;
  top: -200px;
  left: -250px;
  opacity: 0.7;
  z-index: -1;
}

@media (max-width: 767px) {
  .contribution::before {
    display: none;
  }
}

.contribution .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
}

@media (max-width: 991px) {
  .contribution .content {
    flex-direction: column;
  }
}

.contribution .content .statistics {
  flex-basis: 40%;
}

@media (max-width: 991px) {
  .contribution .content .statistics {
    width: 90%;
  }
}

.contribution .content .statistic {
  margin-bottom: 70px;
}

.contribution .content .statistic h4 {
  font-size: 30px;
  color: #1b3c20;
  font-family: cursive;
  margin-bottom: 50px;
  text-align: center;
}

.contribution .content .statistic .progress {
  width: 100%;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 8px;
  border: 0.5px solid rgb(214, 214, 214);
  box-shadow: 1px 3px 6px #3c9f2f;
}

.contribution .content .statistic .progress span {
  width: 0;
  transition: 2s;
  position: relative;
  height: 100%;
  background-color: var(--green-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 4px;
  line-height: 1.4;
  text-align: center;
}

.contribution .content .statistic .progress span::before {
  content: "";
  border-width: 12px;
  border-color: var(--green-color) transparent transparent;
  border-style: solid;
  position: absolute;
  top: -15px;
  right: -11px;
  z-index: 400;
}

.contribution .content .statistic .progress span::after {
  content: attr(data-stat);
  color: rgb(255, 255, 255);
  position: absolute;
  top: -45px;
  right: -20px;
  font-size: 20px;
  background-color: var(--green-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.contribution .content .image {
  flex-basis: 40%;
}

.contribution .content .image img {
  max-width: 100%;
}

/* End Contribution */

/* Start Projects */
.projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  /* overflow: hidden; */
}

.projects::after {
  content: url(../imgs/leaves2.png);
  position: absolute;
  top: -200px;
  right: 0px;
  opacity: 0.7;
  z-index: -1;
}

@media (max-width: 767px) {
  .projects::after {
    display: none;
  }
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

@media (max-width: 991px) {
  .projects .container {
    justify-content: space-evenly;
  }
}

.projects .container .project {
  flex-basis: 33%;
  position: relative;
  margin-bottom: 10px;
  border: 3px solid rgb(214, 214, 214);
  border-radius: 8px 6px 8px 6px;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 991px) {
  .projects .container .project {
    flex-basis: 47%;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .projects .container .project {
    flex-basis: 100%;
  }
}

.projects .container .project .image {
  display: flex;
}

.projects .container .project img {
  width: 100%;
  height: 200px;
}

@media (max-width: 991px) {
  .projects .container .project img {
    height: 100%;
  }
}

.projects .container .project .project-info {
  position: absolute;
  top: -150%;
  left: 0%;
  padding: 10px;
  background-color: var(--main-color);
  transition: 0.5s;
  width: 100%;
  text-align: center;
}

@media (max-width: 991px) {
  .projects .container .project .project-info {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .projects .container .project .project-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.projects .container .project:hover .project-info {
  top: 0;
}

.projects .container .project .project-info h4 {
  color: #1b3c20;
  margin-bottom: 5px;
  font-size: 20px;
}

.projects .container .project .project-info p {
  color: #ddd;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .projects .container .project .project-info h4 {
    font-size: 18px;
  }

  .projects .container .project .project-info p {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .projects .container .project .project-info h4 {
    font-size: 20px;
    color: var(--green-color);
  }

  .projects .container .project .project-info p {
    font-size: 18px;
    line-height: 1.6;
  }
}

/* End Projects */

/* Start Popup */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  transition: 1s;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  z-index: 1001;
  width: 50%;
  opacity: 0;
  transition: 1s;
}

@media (max-width: 1199px) {
  .popup {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .popup {
    width: 80%;
  }
}

.popup img {
  width: 100%;
}

.popup .project-description {
  margin: 15px auto;
  padding: 10px;
}

.popup .project-description h3 {
  margin-bottom: 12px;
  color: #8eff9c;
  font-family: Arial;
}

.popup .project-description p {
  line-height: 1.5;
  color: #eee;
  font-size: 18px;
}

.popup .close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #1b3c20;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  font-family: cursive;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* End Popup */

/* Start Timeline */
.timeline {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.timeline::before {
  content: url(../imgs/leaves1.png);
  position: absolute;
  top: -200px;
  left: -250px;
  opacity: 0.8;
  z-index: -1;
}

@media (max-width: 767px) {
  .timeline::before {
    display: none;
  }
}

.timeline::after {
  content: url(../imgs/leaves2.png);
  position: absolute;
  top: 30%;
  right: 0px;
  opacity: 0.8;
  z-index: -1;
}

@media (max-width: 767px) {
  .timeline::after {
    display: none;
  }
}

.timeline .container {
  position: relative;
}

.timeline .container::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #1b3c20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.timeline .container .contents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.timeline .container .contents .year {
  background-color: var(--green-color);
  color: #fff;
  padding: 13px;
  border-radius: 30px 5px 30px 5px;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
  margin-top: -10px;
}

.timeline .container .contents .point {
  align-self: center;
  width: 15px;
  height: 15px;
  background-color: #1b3c20;
  margin-top: 5px;
  border-radius: 3px;
}

.timeline .container .contents .content-box {
  padding: 10px 12px;
  position: relative;
  background-color: var(--green-color);
  width: 46%;
  margin-top: 35px;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .timeline .container .contents .content-box {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .timeline .container .contents .content-box {
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .timeline .container .contents .content-box {
    margin-top: 0px;
    width: 90%;
  }
}

.timeline .container .contents .content-box.left {
  align-self: flex-start;
  margin-right: -10px;
  border-radius: 30px 3px 30px 3px;
}

.timeline .container .contents .content-box.right {
  align-self: flex-end;
  border-radius: 3px 30px 3px 30px;
}

@media (max-width: 767px) {

  .timeline .container .contents .content-box.left,
  .timeline .container .contents .content-box.right {
    align-self: center;
    border-radius: 30px 3px 30px 3px;
  }
}

.timeline .container .contents .content-box.left::before,
.timeline .container .contents .content-box.right::before {
  content: "";
  position: absolute;
  top: -24%;
  border-width: 20px;
  border-style: solid;
}

.timeline .container .contents .content-box.left::before {
  right: -40px;
  border-radius: 30px 3px 30px 3px;
  border-color: var(--green-color);
}

.timeline .container .contents .content-box.right::before {
  left: -40px;
  border-radius: 3px 30px 3px 30px;
  border-color: var(--green-color);
}

@media (max-width: 991px) {

  .timeline .container .contents .content-box.left::before,
  .timeline .container .contents .content-box.right::before {
    top: -28px;
    border-width: 16px;
  }

  .timeline .container .contents .content-box.left::before {
    right: -27px;
  }

  .timeline .container .contents .content-box.right::before {
    left: -27px;
  }
}

@media (max-width: 767px) {

  .timeline .container .contents .content-box.left::before,
  .timeline .container .contents .content-box.right::before {
    display: none;
  }
}

.timeline .container .contents .content-box h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.timeline .container .contents .content-box p {
  color: #eee;
  line-height: 1.6;
  max-width: 100%;
}

@media (max-width: 767px) {

  .timeline .container .contents .content-box h3,
  .timeline .container .contents .content-box p {
    text-align: center;
  }
}

/* End Timeline */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.features::before {
  content: url(../imgs/leaves1.png);
  position: absolute;
  top: -200px;
  left: -250px;
  opacity: 0.7;
  z-index: -1;
}

@media (max-width: 767px) {
  .features::before {
    display: none;
  }
}

.features .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.features .container .feat {
  flex-basis: 32%;
  background-color: var(--main-color);
  border: 1px solid rgb(217 208 208);
  box-shadow: 3px 4px 11px #90a786;
  border-radius: 30px 3px 30px 3px;
  overflow: hidden;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .features .container .feat {
    flex-basis: 48%;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .features .container .feat {
    flex-basis: 100%;
  }
}

.features .container .feat:hover {
  transform: translateY(-20px);
}

.features .container .feat img {
  max-width: 100%;
}

.features .container .feat .text {
  padding: 10px;
}

.features .container .feat .text h3 {
  margin-bottom: 10px;
  color: rgb(62, 126, 25);
}

.features .container .feat .text p {
  color: rgb(44, 95, 28);
  line-height: 1.5;
}

/* End Features */

/* Start Team */
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.team::after {
  content: url(../imgs/leaves2.png);
  position: absolute;
  top: -200px;
  right: 0px;
  opacity: 0.7;
  z-index: -1;
}

@media (max-width: 767px) {
  .team::after {
    display: none;
  }
}

.team .persons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-around;
}

.team .persons .person {
  border-radius: 30px 3px 30px 3px;
  overflow: hidden;
  position: relative;
  border: 2px solid rgb(217 208 208);
  background-color: var(--main-color);
  transition: 0.5s;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.team .persons .person:hover {
  box-shadow: 6px 3px 14px #69916e;
}

.team .persons .person img {
  max-width: 100%;
  transition: 0.7s;
}

.team .persons .person:hover img {
  transform: scale(1.2);
}

.team .persons .person .person-info {
  padding: 10px 15px;
  text-align: center;
}

.team .persons .person .person-info h3 {
  margin-bottom: 12px;
  color: #1b3c20;
}

.team .persons .person .person-info p {
  line-height: 1.5;
  color: rgb(42, 70, 23);
}

/* End Team */

/* Start Contact */
.contact {
  padding-top: var(--section-padding);
}

.contact h2 span {
  color: #3ac728;
}

.contact .content {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .contact .content {
    flex-direction: column;
    align-items: stretch;
  }
}

.contact img {
  width: 50%;
  align-self: flex-end;
}

@media (max-width: 991px) {
  .contact .content img {
    display: none;
  }
}

.contact form {
  text-align: center;
  flex-basis: 45%;
}

.contact form label {
  margin-bottom: 10px;
  display: block;
  font-family: cursive;
  color: #009112;
  font-size: 20px;
  font-weight: bold;
}

.contact form label span {
  color: var(--green-color);
}

.contact form input:not([type="submit"]),
textarea {
  display: block;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  height: 50px;
  border: 1px solid #214a2ac2;
  caret-color: green;
  padding: 10px;
  border-radius: 30px 3px 30px 3px;
  background-color: rgba(255, 255, 255, 0.925);
}

.contact form input:focus,
textarea:focus {
  outline: 1px solid green;
}

.contact form input:not([type="submit"])::placeholder,
textarea::placeholder {
  transition: 1s;
  text-align: center;
}

textarea::placeholder {
  font-size: 20px;
  padding-top: 40px;
}

.contact form input:not([type="submit"]):focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

.contact form textarea {
  height: 200px;
  margin-bottom: 10px;
  resize: none;
}

.contact form input[type="submit"] {
  padding: 10px 15px;
  border-radius: 30px 3px 30px 3px;
  font-size: 18px;
  color: #1b3c20;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
  transition: 0.5s;
  border-color: var(--green-color);
  background-color: #fff;
  margin-bottom: 5px;
}

.contact form input[type="submit"]:hover {
  background-color: var(--green-color);
  color: #fff;
}

/* End Contact */

/* Start Footer */
footer {
  padding: 20px;
  font-size: 20px;
  color: #eee;
  background-color: #1b3c20;
  font-family: cursive;
  text-align: center;
}

/* End Footer */
/* #cfae7b4d */